* {
margin: 0;
padding: 0;
box-sizing: border-box; 
}

body {
    background-color: antiquewhite;
}

.slider_wrapper {
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    margin: 50px auto 0;
    position: relative;
    width: 700px;
}

.slider {
    flex-basis: 100%;
    background-color: #dddddd;
    width: 3400px;
 overflow-y: hidden;
   display: flex;
   flex-direction: row;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    height: 700px;
}

.slider_wrapper > input {
    display: none;
}

.slide_photo {
    width: 700px;
    height: 700px;
    
}
.caption_wrapper {
    height: 27px;
    overflow-y: hidden;
}

.caption {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 27px;
}


#slide1:checked ~ .control_panel label[for="slide1"] {
    background-color: white;
    border: 3px solid blue;
  }

  #slide1:hover ~ .control_panel label[for="slide1"] {
    background-color: red;
  }
  #slide1:active ~ .control_panel label[for="slide1"] {
    background-color: gray;
  }

  #slide2:checked ~ .control_panel label[for="slide2"] {
    background-color: white;
    border: 3px solid blue;
  }

  #slide2:hover ~ .control_panel label[for="slide2"] {
    background-color: red;
  }
  #slide2:active ~ .control_panel label[for="slide2"] {
    background-color: gray;
  }
  #slide3:checked ~ .control_panel label[for="slide3"] {
    background-color: white;
    border: 3px solid blue;
  }

  #slide3:hover ~ .control_panel label[for="slide3"] {
    background-color: red;
  }
  #slide3:active ~ .control_panel label[for="slide3"] {
    background-color: gray;
  }
  #slide4:checked ~ .control_panel label[for="slide4"] {
    background-color: white;
    border: 3px solid blue;
  }

  #slide4:hover ~ .control_panel label[for="slide4"] {
    background-color: red;
  }
  #slide4:active ~ .control_panel label[for="slide4"] {
    background-color: gray;
  }

  #slide5:checked ~ .control_panel label[for="slide5"] {
    background-color: white;
    border: 3px solid blue;
  }

  #slide5:hover ~ .control_panel label[for="slide5"] {
    background-color: red;
  }
  #slide5:active ~ .control_panel label[for="slide5"] {
    background-color: gray;
  }
.control_panel {
    left: 50%;
    display: flex;
    column-gap: 25px;
}

label {
    cursor: pointer;
    
    height: 20px;
    
    width: 20px;
    border-radius: 50%;
    background-color: blue;
    transition: background ease-in-out .5s;
}

#slide1:checked~.slider .slides {
    transform: translate(0);
  }
  #slide2:checked~.slider .slides {
    transform: translate(-700px);
  }
  #slide3:checked~.slider .slides {
    transform: translate(-1400px);
  }
  #slide4:checked~.slider .slides {
    transform: translate(-2100px);
  }
  #slide5:checked~.slider .slides {
    transform: translate(-2800px);
  }

  #slide1:checked~.caption_wrapper .caption {
    transform: translateY(0);
  }
  #slide2:checked~.caption_wrapper .caption {
    transform: translateY(-27px);
  }
  #slide3:checked~.caption_wrapper .caption {
    transform: translateY(-54px);
  }
  #slide4:checked~.caption_wrapper .caption {
    transform: translateY(-81px);
  }
  #slide5:checked~.caption_wrapper .caption {
    transform: translateY(-108px);
  }